@tailwind base;
@tailwind components;
@tailwind utilities;


/* oui */

* {
  user-select: none;
}

.swipe {
  position: absolute;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  height: 300px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.infoText {
  width: 100%;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 625px) {
  .buttons {
    flex-direction: column;
  }
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

.buttons button:hover {
  transform: scale(1.05);
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}

body {
  color: #F3F2F3;
  overflow: hidden;
}



.grid-template-areas {
  grid-template-areas: "s1 main s2";
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2.5fr 1fr;
}

.gradient {
  background: rgb(250,63,21);
  background: -moz-linear-gradient(315deg, rgba(250,63,21,1) 0%, rgba(204,35,99,1) 100%);
  background: -webkit-linear-gradient(315deg, rgba(250,63,21,1) 0%, rgba(204,35,99,1) 100%);
  background: linear-gradient(315deg, rgba(250,63,21,1) 0%, rgba(204,35,99,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fa3f15",endColorstr="#cc2363",GradientType=1);
}

.grid-s1 {
  grid-area: s1;
}

.grid-main{
  grid-area: main;
}

.grid-s2{
  grid-area: s2;
}